Repository docker/packaging, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ci, area/pkg/buildx, area/pkg/cagent, area/pkg/compose, area/pkg/containerd, area/pkg/credential-helpers, area/pkg/docker-cli, area/pkg/docker-engine, area/pkg/model

.github/labeler.yml:

area/project:
- all:
  - changed-files:
    - any-glob-to-any-file: 
      - .github/**
      - LICENSE
      - README.md
      - .dockerignore
      - .gitignore
    - all-globs-to-all-files: '!.github/workflows/*'

area/ci:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**'

area/pkg/buildx:
  - changed-files:
    - any-glob-to-any-file: 'pkg/buildx/**'

area/pkg/cagent:
  - changed-files:
    - any-glob-to-any-file: 'pkg/cagent/**'

area/pkg/compose:
  - changed-files:
    - any-glob-to-any-file: 'pkg/compose/**'

area/pkg/containerd:
  - changed-files:
    - any-glob-to-any-file: 'pkg/containerd/**'

area/pkg/credential-helpers:
  - changed-files:
    - any-glob-to-any-file: 'pkg/credential-helpers/**'

area/pkg/docker-cli:
  - changed-files:
    - any-glob-to-any-file: 'pkg/docker-cli/**'

area/pkg/docker-engine:
  - changed-files:
    - any-glob-to-any-file: 'pkg/docker-engine/**'

area/pkg/model:
  - changed-files:
    - any-glob-to-any-file: 'pkg/model/**'

gha/release-cagent: Fix workflow name
  .github/workflows/release-cagent.yml
Labels: area/ci

gha/release: Improve workflow input descriptions and ordering
  .github/workflows/release-buildx.yml
  .github/workflows/release-cagent.yml
  .github/workflows/release-compose.yml
  .github/workflows/release-containerd.yml
  .github/workflows/release-credential-helpers.yml
  .github/workflows/release-docker-cli.yml
  .github/workflows/release-docker-engine.yml
  .github/workflows/release-model.yml
Labels: area/ci

gha/release: Default to "draft" type
  .github/workflows/release-buildx.yml
  .github/workflows/release-cagent.yml
  .github/workflows/release-compose.yml
  .github/workflows/release-containerd.yml
  .github/workflows/release-credential-helpers.yml
  .github/workflows/release-docker-cli.yml
  .github/workflows/release-docker-engine.yml
  .github/workflows/release-model.yml
Labels: area/ci

cagent: add armhf
  docker-bake.hcl
Labels: none

gha/containerd: Allow runc override
  .github/workflows/release-containerd.yml
  docker-bake.hcl
Labels: area/ci

Docker Compose v5 requires buildx
  pkg/compose/deb/control
  pkg/compose/rpm/docker-compose-plugin.spec
Labels: area/pkg/compose

compose: ignore buildx plugin on install during test
  pkg/compose/verify.Dockerfile
Labels: area/pkg/compose

ci: fix nightly builds
  .github/workflows/nightly.yml
Labels: area/ci

pkg(cagent): update go to 1.25.4
  docker-bake.hcl
  pkg/cagent/Dockerfile
Labels: area/pkg/cagent

pkg/buildx: update go to 1.25.4
  pkg/buildx/Dockerfile
Labels: area/pkg/buildx

pkg/docker-cli: update go to 1.25.4
  pkg/docker-cli/Dockerfile
Labels: area/pkg/docker-cli

pkg/docker-engine: update go to 1.25.4
  pkg/docker-engine/Dockerfile
Labels: area/pkg/docker-engine

bake(cli,engine,buildx): update go to 1.25.4
  docker-bake.hcl
Labels: none

ci: create reusable workflow to list packages
  .github/workflows/.pkgs.yml
  .github/workflows/nightly.yml
Labels: area/ci

ci: update-go workflow to keep go version in sync
  .github/workflows/update-go.yml
  docker-bake.hcl
Labels: area/ci

[create-pull-request] automated change
  docker-bake.hcl
  pkg/buildx/Dockerfile
  pkg/compose/Dockerfile
  pkg/containerd/Dockerfile
  pkg/credential-helpers/Dockerfile
  pkg/docker-cli/Dockerfile
  pkg/docker-engine/Dockerfile
  pkg/model/Dockerfile
Labels: area/pkg/buildx, area/pkg/compose, area/pkg/containerd, area/pkg/credential-helpers, area/pkg/docker-cli, area/pkg/docker-engine, area/pkg/model

[create-pull-request] automated change
  docker-bake.hcl
  pkg/docker-cli/Dockerfile
  pkg/docker-engine/Dockerfile
Labels: area/pkg/docker-cli, area/pkg/docker-engine

[create-pull-request] automated change
  docker-bake.hcl
  pkg/compose/Dockerfile
  pkg/containerd/Dockerfile
Labels: area/pkg/compose, area/pkg/containerd

[create-pull-request] automated change
  docker-bake.hcl
  pkg/cagent/Dockerfile
Labels: area/pkg/cagent

cagent: fix build since switch to CGo
  pkg/cagent/Dockerfile
  pkg/cagent/deb/control
  pkg/cagent/rpm/cagent.spec
  pkg/cagent/scripts/pkg-static-build.sh
Labels: area/pkg/cagent

chore: update CODEOWNERS for cagent
  .github/CODEOWNERS
Labels: none

Drop Raspbian support
  docker-bake.hcl
  pkg/buildx/deb/rules
  pkg/cagent/deb/rules
  pkg/compose/deb/rules
  pkg/containerd/deb/rules
  pkg/credential-helpers/deb/rules
  pkg/docker-cli/deb/rules
  pkg/docker-engine/deb/rules
  pkg/model/deb/rules
Labels: area/pkg/buildx, area/pkg/cagent, area/pkg/compose, area/pkg/containerd, area/pkg/credential-helpers, area/pkg/docker-cli, area/pkg/docker-engine, area/pkg/model

docker-engine: add nri_no_wasm build tag
  pkg/docker-engine/Dockerfile
Labels: area/pkg/docker-engine

update docker-credential-helpers to go1.25.5
  docker-bake.hcl
  pkg/credential-helpers/Dockerfile
Labels: area/pkg/credential-helpers

[create-pull-request] automated change
  docker-bake.hcl
  pkg/credential-helpers/Dockerfile
Labels: area/pkg/credential-helpers

credentials-helper: update master -> main branch
  docker-bake.hcl
  pkg/credential-helpers/Dockerfile
Labels: area/pkg/credential-helpers

buildx: update build command for static builds
  pkg/buildx/scripts/pkg-static-build.sh
Labels: area/pkg/buildx

[create-pull-request] automated change
  docker-bake.hcl
  pkg/docker-cli/Dockerfile
  pkg/docker-engine/Dockerfile
Labels: area/pkg/docker-cli, area/pkg/docker-engine

Add Ubuntu 26.04
  docker-bake.hcl
Labels: none

[create-pull-request] automated change
  docker-bake.hcl
  pkg/model/Dockerfile
Labels: area/pkg/model

[create-pull-request] automated change
  docker-bake.hcl
  pkg/credential-helpers/Dockerfile
Labels: area/pkg/credential-helpers

[create-pull-request] automated change
  docker-bake.hcl
  pkg/compose/Dockerfile
Labels: area/pkg/compose

[create-pull-request] automated change
  docker-bake.hcl
  pkg/compose/Dockerfile
Labels: area/pkg/compose

update xx to 1.9.0
  pkg/buildx/Dockerfile
  pkg/buildx/verify.Dockerfile
  pkg/cagent/verify.Dockerfile
  pkg/compose/Dockerfile
  pkg/compose/verify.Dockerfile
  pkg/containerd/Dockerfile
  pkg/containerd/verify.Dockerfile
  pkg/credential-helpers/Dockerfile
  pkg/credential-helpers/verify.Dockerfile
  pkg/docker-cli/Dockerfile
  pkg/docker-cli/verify.Dockerfile
  pkg/docker-engine/Dockerfile
  pkg/docker-engine/verify.Dockerfile
  pkg/model/Dockerfile
  pkg/model/verify.Dockerfile
Labels: area/pkg/buildx, area/pkg/cagent, area/pkg/compose, area/pkg/containerd, area/pkg/credential-helpers, area/pkg/docker-cli, area/pkg/docker-engine, area/pkg/model

update to debian trixie for static builds
  docker-bake.hcl
Labels: none

compose: update osxcross to 15.5
  pkg/compose/Dockerfile
Labels: area/pkg/compose

ci: increase build timeout to 60m
  .github/workflows/.build.yml
Labels: area/ci

update xx to 1.9.0
  pkg/buildx/Dockerfile
  pkg/buildx/verify.Dockerfile
  pkg/cagent/verify.Dockerfile
  pkg/compose/Dockerfile
  pkg/compose/verify.Dockerfile
  pkg/containerd/Dockerfile
  pkg/containerd/verify.Dockerfile
  pkg/credential-helpers/Dockerfile
  pkg/credential-helpers/verify.Dockerfile
  pkg/docker-cli/Dockerfile
  pkg/docker-cli/verify.Dockerfile
  pkg/docker-engine/Dockerfile
  pkg/docker-engine/verify.Dockerfile
  pkg/model/Dockerfile
  pkg/model/verify.Dockerfile
Labels: area/pkg/buildx, area/pkg/cagent, area/pkg/compose, area/pkg/containerd, area/pkg/credential-helpers, area/pkg/docker-cli, area/pkg/docker-engine, area/pkg/model

[create-pull-request] automated change
  docker-bake.hcl
  pkg/containerd/Dockerfile
Labels: area/pkg/containerd

Add Fedora 44
  docker-bake.hcl
Labels: none
