Repository docker/packaging, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ci, area/pkg/buildx, area/pkg/cagent, area/pkg/compose, area/pkg/containerd, area/pkg/credential-helpers, area/pkg/docker-cli, area/pkg/docker-engine, area/pkg/model

Remove Ubuntu 25.04 ("plucky"), which is EOL
  docker-bake.hcl
Labels: none

pkg/*: remove redundant DEBIAN_FRONTEND=noninteractive
  pkg/buildx/Dockerfile
  pkg/cagent/Dockerfile
  pkg/compose/Dockerfile
  pkg/containerd/Dockerfile
  pkg/credential-helpers/Dockerfile
  pkg/docker-cli/Dockerfile
  pkg/docker-engine/Dockerfile
  pkg/model/Dockerfile
Labels: area/pkg/buildx, area/pkg/cagent, area/pkg/compose, area/pkg/containerd, area/pkg/credential-helpers, area/pkg/docker-cli, area/pkg/docker-engine, area/pkg/model

[create-pull-request] automated change
  docker-bake.hcl
  pkg/containerd/Dockerfile
  pkg/credential-helpers/Dockerfile
  pkg/docker-cli/Dockerfile
  pkg/docker-engine/Dockerfile
Labels: area/pkg/containerd, area/pkg/credential-helpers, area/pkg/docker-cli, area/pkg/docker-engine

[create-pull-request] automated change
  docker-bake.hcl
  pkg/compose/Dockerfile
Labels: area/pkg/compose

[create-pull-request] automated change
  docker-bake.hcl
  pkg/cagent/Dockerfile
Labels: area/pkg/cagent

Drop Raspbian support
  docker-bake.hcl
  pkg/buildx/deb/rules
  pkg/cagent/deb/rules
  pkg/compose/deb/rules
  pkg/containerd/deb/rules
  pkg/credential-helpers/deb/rules
  pkg/docker-cli/deb/rules
  pkg/docker-engine/deb/rules
  pkg/model/deb/rules
Labels: area/pkg/buildx, area/pkg/cagent, area/pkg/compose, area/pkg/containerd, area/pkg/credential-helpers, area/pkg/docker-cli, area/pkg/docker-engine, area/pkg/model

skip installing rpmlint on RHEL8, 9
  hack/scripts/rpm-init.sh
Labels: none

[create-pull-request] automated change
  docker-bake.hcl
  pkg/containerd/Dockerfile
Labels: area/pkg/containerd

pkg/model: remove cmd/cli/ tag prefix after go.mod consolidation
  pkg/model/Dockerfile
Labels: area/pkg/model

gha: Undraft gh release immediately
  .github/workflows/release-buildx.yml
  .github/workflows/release-cagent.yml
  .github/workflows/release-compose.yml
  .github/workflows/release-containerd.yml
  .github/workflows/release-credential-helpers.yml
  .github/workflows/release-docker-cli.yml
  .github/workflows/release-docker-engine.yml
  .github/workflows/release-model.yml
Labels: area/ci

testing
  README.md
Labels: none

testing revert if commit pished to remote
  README.md
Labels: none

testing revert if commit pished to remote
  README.md
Labels: none

testing revert if commit pished to remote
  README.md
Labels: none

testing revert option after push
  README.md
Labels: none

adding kaveri file
  kaveri
Labels: none

Reverted "adding kaveri file"
  kaveri
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

[create-pull-request] automated change
  docker-bake.hcl
  pkg/model/Dockerfile
Labels: area/pkg/model

[create-pull-request] automated change
  docker-bake.hcl
  pkg/compose/Dockerfile
Labels: area/pkg/compose

[create-pull-request] automated change
  docker-bake.hcl
  pkg/containerd/Dockerfile
  pkg/credential-helpers/Dockerfile
  pkg/docker-cli/Dockerfile
Labels: area/pkg/containerd, area/pkg/credential-helpers, area/pkg/docker-cli

[create-pull-request] automated change
  docker-bake.hcl
  pkg/docker-engine/Dockerfile
Labels: area/pkg/docker-engine

Remove Fedora 41 (EOL)
  docker-bake.hcl
Labels: none

.github/labeler.yml:

area/project:
- all:
  - changed-files:
    - any-glob-to-any-file: 
      - .github/**
      - LICENSE
      - README.md
      - .dockerignore
      - .gitignore
    - all-globs-to-all-files: '!.github/workflows/*'

area/ci:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**'

area/pkg/buildx:
  - changed-files:
    - any-glob-to-any-file: 'pkg/buildx/**'

area/pkg/cagent:
  - changed-files:
    - any-glob-to-any-file: 'pkg/cagent/**'

area/pkg/compose:
  - changed-files:
    - any-glob-to-any-file: 'pkg/compose/**'

area/pkg/containerd:
  - changed-files:
    - any-glob-to-any-file: 'pkg/containerd/**'

area/pkg/credential-helpers:
  - changed-files:
    - any-glob-to-any-file: 'pkg/credential-helpers/**'

area/pkg/docker-cli:
  - changed-files:
    - any-glob-to-any-file: 'pkg/docker-cli/**'

area/pkg/docker-engine:
  - changed-files:
    - any-glob-to-any-file: 'pkg/docker-engine/**'

area/pkg/model:
  - changed-files:
    - any-glob-to-any-file: 'pkg/model/**'
