Repository docker/packaging, pull requests merged in 2023-10, with the labels that each got.

#167 align GOPROXY and GO111MODULE env vars
  pkg/containerd/Dockerfile
  pkg/credential-helpers/Dockerfile
Labels: pkg/credential-helpers, pkg/containerd

#168 update go
  common/vars.mk
  pkg/buildx/Dockerfile
  pkg/buildx/Makefile
  pkg/buildx/docker-bake.hcl
  pkg/compose/Dockerfile
  pkg/compose/Makefile
  pkg/compose/docker-bake.hcl
  pkg/containerd/Dockerfile
  pkg/containerd/Makefile
  pkg/containerd/docker-bake.hcl
  pkg/credential-helpers/Dockerfile
  pkg/credential-helpers/Makefile
  pkg/credential-helpers/docker-bake.hcl
  pkg/docker-cli/Dockerfile
  pkg/docker-cli/Makefile
  pkg/docker-cli/docker-bake.hcl
  pkg/docker-engine/Dockerfile
  pkg/docker-engine/Makefile
  pkg/docker-engine/docker-bake.hcl
Labels: pkg/docker-cli, pkg/docker-engine, pkg/buildx, pkg/compose, pkg/credential-helpers, pkg/containerd

#169 distro: add fedora 39
  Makefile
  common/packages.hcl
  common/packages.mk
Labels: dist/fedora

#170 docker-engine: fix require with rpm "docker-ce-rootless-extras" pkg
  pkg/docker-engine/rpm/docker-ce.spec
Labels: pkg/docker-engine

#171 docker-engine: add docker.socket to %systemd_preun
  pkg/docker-engine/rpm/docker-ce.spec
Labels: pkg/docker-engine

#172 docker-engine: remove devicemapper dependencies
  pkg/docker-engine/Dockerfile
  pkg/docker-engine/deb/control
  pkg/docker-engine/rpm/docker-ce.spec
  pkg/docker-engine/verify.Dockerfile
Labels: pkg/docker-engine

#166 distro: add ubuntu 23.10
  Makefile
  common/packages.hcl
  common/packages.mk
  pkg/docker-cli/Dockerfile
  pkg/docker-engine/Dockerfile
Labels: dist/ubuntu

#176 [docker/24.0] bump go to 1.20.10
  pkg/docker-cli/Dockerfile
  pkg/docker-cli/Makefile
  pkg/docker-cli/docker-bake.hcl
  pkg/docker-engine/Dockerfile
  pkg/docker-engine/Makefile
  pkg/docker-engine/docker-bake.hcl
Labels: pkg/docker-cli, pkg/docker-engine

#177 [containerd/1.6] bump go to 1.20.8
  pkg/containerd/Dockerfile
  pkg/containerd/Makefile
  pkg/containerd/docker-bake.hcl
Labels: pkg/containerd

#178 [containerd/1.7] bump go to 1.20.10
  pkg/containerd/Dockerfile
  pkg/containerd/Makefile
  pkg/containerd/docker-bake.hcl
Labels: pkg/containerd
