Repository docker/packaging, pull requests merged in 2025-10, with the labels that each got.

#269 gha/release: default to pushonly
  .github/workflows/release-buildx.yml
  .github/workflows/release-compose.yml
  .github/workflows/release-containerd.yml
  .github/workflows/release-credential-helpers.yml
  .github/workflows/release-docker-cli.yml
  .github/workflows/release-docker-engine.yml
  .github/workflows/release-model.yml
Labels: area/ci

#271 gha/build: Support building only single distro
  .github/workflows/.build.yml
  .github/workflows/release-buildx.yml
  .github/workflows/release-compose.yml
  .github/workflows/release-containerd.yml
  .github/workflows/release-credential-helpers.yml
  .github/workflows/release-docker-cli.yml
  .github/workflows/release-docker-engine.yml
  .github/workflows/release-model.yml
Labels: area/ci

#272 Fix Raspbian armhf
  pkg/buildx/deb/rules
  pkg/compose/deb/rules
  pkg/containerd/deb/rules
  pkg/credential-helpers/deb/rules
  pkg/docker-cli/deb/rules
  pkg/docker-engine/deb/rules
  pkg/model/deb/rules
Labels: area/pkg/docker-cli, area/pkg/docker-engine, area/pkg/buildx, area/pkg/compose, area/pkg/credential-helpers, area/pkg/containerd, area/pkg/model

#273 update go version for compose and credential-helpers pkgs
  docker-bake.hcl
Labels: area/pkg/compose, area/pkg/credential-helpers

#281 build: fix tags in release body
  .github/workflows/.build.yml
Labels: area/ci

#285 rockylinux: disable mirrors for better stability
  hack/scripts/rpm-init.sh
  hack/scripts/verify-rpm-init.sh
Labels: area/distro/rockylinux

#290 Add CODEOWNERS file
  .github/CODEOWNERS
Labels: area/project
