Repository docker/packaging, pull requests merged in 2025-08, with the labels that each got.

#236 engine: fix gomod usage
  pkg/docker-engine/Dockerfile
  pkg/docker-engine/scripts/check-gomod.sh
  pkg/docker-engine/scripts/pkg-deb-build.sh
  pkg/docker-engine/scripts/pkg-rpm-build.sh
  pkg/docker-engine/scripts/pkg-static-build.sh
Labels: area/pkg/docker-engine

#243 rpm: Add CentOS 10
  docker-bake.hcl
  hack/scripts/rpm-init.sh
  pkg/credential-helpers/verify.Dockerfile
  pkg/docker-engine/scripts/pkg-rpm-build.sh
  pkg/docker-engine/verify.Dockerfile
Labels: area/pkg/docker-engine, area/pkg/credential-helpers

#246 deb: use gen-deb-changelog for model and compose
  pkg/compose/scripts/pkg-deb-build.sh
  pkg/model/scripts/pkg-deb-build.sh
Labels: area/pkg/compose, area/pkg/model

#249 engine: fix check-gomod.sh permission
  pkg/docker-engine/scripts/check-gomod.sh
Labels: area/pkg/docker-engine

#250 ci: fix build workflow
  .github/workflows/.build.yml
Labels: area/ci

#247 ci(release): update release input to choose release type
  .github/workflows/.build.yml
  .github/workflows/release-buildx.yml
  .github/workflows/release-compose.yml
  .github/workflows/release-containerd.yml
  .github/workflows/release-credential-helpers.yml
  .github/workflows/release-docker-cli.yml
  .github/workflows/release-docker-engine.yml
  .github/workflows/release-model.yml
  .github/workflows/release-sbom.yml
  .github/workflows/release-scan.yml
Labels: area/ci

#253 gha/build: fix release condition for Docker image push
  .github/workflows/.build.yml
Labels: area/ci
